<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html"><strong>主页</strong></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/authors-list.html"><strong>关于我们</strong></a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/contact.html"><strong>联系我们</strong></a>
</li>

<li class="nav-item">
    <a target="_blank" class="nav-link" href="https://github.com/ZhijieSong?tab=repositories"><strong>我的Repositories</strong></a>
</li>

<!-- <li class="nav-item">
    <a target="_blank" class="nav-link" href="https://www.wowthemes.net/donate/">打赏
    </a>
</li> -->
